@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 5;
    padding: 0;
}

/* shared style */
.dark-2 {
    color: rgba(71, 71, 71, 1);
}

.secondry-bg {
    background-color: #FFF8F3;
}

.text-center {
    text-align: center;
}


.btn-primary {
    background-color: rgba(253, 110, 10, 1);
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: larger;
    font-weight: 700;
    margin-top: 20px;
    cursor: pointer;
}



/* Nav section  */

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 230px;
}

.nav-title {
    font-family: Open Sans;
    font-style: ExtraBold;
    font-size: 45px;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0px;
}

.text-primary {
    color: rgba(253, 110, 10, 1);
}

nav ul {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

nav ul li {
    margin-right: 20px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}


/* header background  */
.header {
    background: url(/images/developer.png), url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* banner style */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}

.banner-content {
    width: 584px;
}

.banner-getting {
    font-family: open sans;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 0px;
}

.banner-title {
    font-family: open sans;
    font-size: 85px;
    font-weight: 600;
    letter-spacing: 0px;
}

.banner-descriptions {
    font-family: open sans;
    font-size: 18px;
    letter-spacing: 0px;
    margin: 10px 0;
}

.banner-profile-img {
    width: 540px;
    display: block;

}

/* about section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
    margin-bottom: 130px;
}

.about-me {
    background-color: white;
    padding: 10px;
    box-shadow: 10px 10px 50px 0 rgba(0, 0, 0, 0.06);
    border-radius: 20px;
}

.about {
    text-align: center;
    border-radius: 10px;
    padding: 131px 156px;

}

.about-items {
    display: flex;
    justify-content: space-around;

}

.item-title {
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
}

.item-description {
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
}

/* skills section */

.skill-container {
    display: flex;
    gap: 24px;

}

.skills-title {
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.skills-descriptions {
    margin-bottom: 50px;
}

.skill {
    padding: 30px;
    box-shadow: 0px 6px 50px 0 rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

/* resume style */
.resume-container {
    display: flex;
    gap: 25px;
}

.resume-column-title {
    color: rgba(71, 71, 71, 1);
    font-size: 30px;
    font-weight: 700;

}

.experience-title {
    color: rgba(71, 71, 71, 1);
    font-size: 25px;
    font-weight: 700;
}

.experience-subtitle {
    color: rgba(117, 117, 117, 1);
    font-size: 20px;
    font-weight: 600;
}

.experience-description {
    color: rgba(117, 117, 117, 1);
    font-size: 16px;
    font-weight: 400;
}

/* footer section */
.footer-main {
    background-color: ;
}

.footer-container {
    padding: 130px 230px;
    display: flex;
    gap: 117px;
}

.footer-column {
    width: 50%;
}

footer input[type="text"],
footer input[type="email"],
footer textarea {
    height: 64px;
    width: 100%;
    border: none;
    margin-bottom: 10px;
    padding: 5px 5px;
}

form input
/* form input {
    margin-bottom: 20px;
    height: 35px;
    padding: 10px 10px;
}

textarea {
    margin-bottom: 20px;
    padding: 10px 10px;
} */