@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* shared style */
.dark-2 {
    color: rgba(117, 117, 117, 1);
}

.text-primary {
    font-family: Open Sans;
    font-style: ExtraBold;
    font-size: 45px;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0%;
    color: rgba(253, 110, 10, 1);
    text-align: left;
}

/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-family: 'Open Sans', sans-serif;
    font-style: ExtraBold;

    font-size: 45px;
    font-weight: 800;
    line-height: 61px;
}

nav ul {
    display: flex;
    align-items: center;

}

nav ul li {
    list-style: none;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
}

.btn-primary {
    background-color: rgba(253, 110, 10, 1);
    padding: 10px 15px;
    color: white;
    border: none;
    font-weight: 700;
    border-radius: 5px;
}