@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 5;
    padding: 0;
}

.dark-2 {
    color: rgba(71, 71, 71, 1);
}

/* #hero {
    margin: 50px 180px;
} */

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 230px;
}

.nav-title {
    font-family: Open Sans;
    font-style: ExtraBold;
    font-size: 45px;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0px;
}

.text-primary {
    color: rgba(253, 110, 10, 1);
}

nav ul {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

nav ul li {
    margin-right: 20px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

.btn-primary {
    background-color: rgba(253, 110, 10, 1);
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: larger;
    font-weight: 700;
}

/* banner style */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}

.banner-content {
    width: 584px;
}

.banner-getting {
    font-family: open sans;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 0px;
}

.banner-title {
    font-family: open sans;
    font-size: 85px;
    font-weight: 600;
    letter-spacing: 0px;
}

.banner-descriptions {
    font-family: open sans;
    font-size: 18px;
    letter-spacing: 0px;
    margin: 10px 0;
}

.banner-profile-img {
    width: 540px;
    display: block;

}

/* header background  */
.header {
    background: url(/images/developer.png), url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}